/* Light Theme (Default) */
:root {
    --bg-color: #fff;
    --text-color: #000;
    --button-bg: #ccc;
    --circle-bg: #fff;
    --modal-bg: #e7f4ff;
    --modal-author: #555;
    --modal-x: #000;
}

/* Dark Theme */
.theme-dark {
    --bg-color: #1C1F26;
    --text-color: #ffffff;
    --button-bg: #333;
    --circle-bg: #1C1F26;
    --modal-bg: #10141A;
    --modal-author: #A0A0A0;
    --modal-x: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 4.5rem;
    top: 0;
    left: 0;
}

.home,

.about {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    color: white;

}

.filter-icon {
    width: 30px;
    border-radius: 5px;
    line-height: 40px;
    height: 100%;
    background: rgba(255, 255, 255, .2) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{
    display: none;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    outline: none;
}



/* Designing Nav Bar */
#navbar {
    display: flex;
    height: 100%;
    top: 0;
    backdrop-filter: blur(2px);
    transition: all 0.3s ease-in-out;
}

/* Inserting a background using ::before  */
#navbar::before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Utilities of navbar */
#logo {
    margin: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 59px;
    width: 75px;
    margin: 5px 0px;
    margin-right: 12px;
}

#logo span {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
}

#Categories {
    margin: 0;
}

.Categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accnt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#accnt a {
    margin: 20px;
    opacity: 0;
    transform: translateY(-10px);
    cursor: pointer;
}

#accnt svg {
    transition: all 0.2s ease-in-out;
}

#accnt svg:hover {
    transform: scale(1.4);
}


#link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bars,
.close {
    display: none;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdown-menu {
    position: absolute;
    left: -200px;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    min-width: 180px;
    top: 25px;

}

.dropdown-menu li {
    padding: 10px 20px;
    list-style: none;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
}


/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    display: flex;
}

.item {
    list-style: none;
    opacity: 0;
    transform: translateY(-10px);
    cursor: pointer;
}

.item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 20px;
    display: inline-block;
    margin: 0px 25px 0 5px;
    font-weight: 600;
    position: relative;
}

/* .item a:hover {
    color: #23282f;
} */

/* Giving the effect of underlining */

.item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.item a:hover::after {
    transform: scaleX(1);
}

/* animations */
.fade-in {
    animation: fade_in 0.5s linear forwards;
}

@keyframes fade_in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* navbar ends  */

/*front page*/
.welcome {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), center, url("images/background.jpg") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    
}

#type-writer::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.welcome img {
    width: 300px;
    margin: 5px;
}

.Container {
    margin: 20px;
}

.catagory-heading-box {
    display: flex;
}

.sortBy-btn {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background: #555;
    cursor: pointer;
    padding: 5px;
    border-radius: 7px; */
    background: #f4f4f4; /* Dark background */
    color: #333; /* White text */
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 15px;
}

.sortBy-btn:hover {
    background: #e0e0e0;
}

.book-section {
    display: flex;
    overflow-x: scroll;
}

.book-section::-webkit-scrollbar{
    display: none;
}

.bookCard {
    margin: 5px 20px;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 120px;
    height: 160px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bookCard img {
    /* filter: contrast(1.2); */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

/* Overlay (Hidden by Default) */
.bookCard .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    display: none;
    transition: all 0.3s ease-in-out;
}

/* Expand Width on Hover */
.bookCard:hover {
    transition: all 0.3s ease-in-out;
    min-width: 250px;
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3), 
    0px 15px 35px rgba(0, 0, 0, 0.2);
}

.bookCard:hover .overlay {
    display: flex;
}

/* Title & Author */
.bookCard .overlay h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bookCard .overlay p {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Buttons */
.bookCard .buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 5px
}

.bookCard .buttons button, .bookCard button {
    background: white;
    color: black;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.bookCard .buttons button:hover, .bookCard button:hover {
    background: gray;
    color: white;
}

.bookmark {
    position: absolute;
    top: 4px;
    right: 4px;
}

/* footer  */
.footer {
    background-color: #23282f;
    color: rgb(196, 193, 193);
    padding: 2rem 1rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer-section p {
    font-size: 0.875rem;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: rgb(196, 193, 193);
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media a {
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-media a:hover {
    color: #9ca3af;
}

.footer-bottom {
    border-top: 1px solid #6b7280;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
}

/* modal design */
.modal {
    font-family: sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--modal-bg);
    margin-top: 3rem;
    display: flex;
    border-radius: 10px;
    width: 43rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 23rem;
    border: 2px solid grey;
    overflow-y: scroll;
}

.modal-content::-webkit-scrollbar{
    display: none;
}

.modal-book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* border-right: 2px solid grey; */
}

.modal-book-image img {
    width: 11rem;
    height: 17rem;
    filter: contrast(1.55);
    padding-left: 8px;
}

.modal-desc {
    flex: 2;
    text-align: left;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -0.2rem;
    right: 0.3rem
}

.close-modal span:hover {
    cursor: pointer;
    color: var(--modal-x);
}

.modal-title {
    margin: 2.2rem 0rem 0.03rem 1rem;
}

.modal-author {
    margin: 2.2px 0rem 1.5rem 1rem;
    color: var(--modal-author);
}

.modal-book-desc {
    line-height: 1.2;
    margin-left: 1rem;
}

.bookS {
    margin-top: 90vh;
    display: flex;
    flex-direction: column;
    gap: 30PX;
}

.Searchedbook{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.bookimage{
    height: 200px;
    margin-left: 20px;
}
#search-book{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    background-color: #e2e4e6;
    padding-top: 20PX;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    
    }

.aboutbook{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;

}

.searchtitle{
    text-align: center;

}
.detail{
    
    margin-left: 40px;
margin-right: 10px;
    font-size: 17px;
   
  
    display: flex;
    border-radius: 10px;
   text-align: left;
   margin-top: 10px;
  

  
    

}
.author{
    color: #555;
    text-align: center;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buybutton{
    background: rgb(241, 239, 239);
    color: black;
    border: none;
    padding: 6px 12px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
}



.buybutton:hover {
    background: gray;
    color: white;
}

 .wishlistbutton{
    position: absolute;
    top: 4px;
  right: 4px;

    
}

.wishlist{
    position: absolute;
    top: 8px;
  right: 8px;

    
}




.addBookSection {
    padding: 20px 20px 25px;
    margin: 20px 10px;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-top: 1px solid rgb(99, 99, 99);
}

.inputParameters {
    width: 100%;
    margin: 50px 0px 30px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

.inputParameters input {
    height: 40px;
    width: 200px;
    position: relative;
    background: rgb(233, 233, 233);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

#updateBookButton {
    height: 50px;
    width: 200px;
    border: none;
    background-color: rgb(216, 255, 252);
    padding: 5px 20px;
    border-radius: 5px;

    font-size: 15px;

    transition: all 0.3s;
}

#updateBookButton:hover {
    background-color: rgb(201, 251, 247);

    transition: all 0.3s;
}

.notfound{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
 
}

/* Toggle Button */
.theme-btn {
    opacity: 0;
    transform: translateY(-10px);
    width: 50px;
    height: 25px;
    background: var(--button-bg);
    border-radius: 25px;
    position: relative;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.toggle-circle {
    width: 20px;
    height: 20px;
    background: var(--circle-bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left 0.3s ease-in-out;
}

.theme-dark .toggle-circle {
    left: 27px;
}
